In [1]:
import pandas as pd
import numpy as np
import polars as pl
import pyarrow as pa
print("pandas: ", pd.__version__)
print("numpy: ", np.__version__)
print("polars: ", pl.__version__)
print("pyarrow: ", pa.__version__)

pandas:  2.0.0rc0
numpy:  1.24.2
polars:  0.16.14
pyarrow:  11.0.0

In [2]:
pd.Series(["foo", "bar", "foobar"])

0       foo
1       bar
2    foobar
dtype: object

In [3]:
%%time
# Create a DataFrame with some example data
data = {
    'group': ['A', 'B', 'A', 'B', 'A', 'B'],
    'value': [1, 2, 3, 4, 5, 6]
}
df = pd.DataFrame(data)

# Define a function to apply to each group
def sum_values(group):
    return group['value'].sum()

# Use groupby-apply to apply the function to each group
result = df.groupby('group').apply(sum_values)

# Print the result
print(result)

group
A     9
B    12
dtype: int64
CPU times: user 3.93 ms, sys: 387 µs, total: 4.32 ms
Wall time: 26.4 ms

In [4]:
%%time

# Set Pyarrow as the backend for Pandas
pd.set_option('compute.use_bottleneck', False)
pd.set_option('compute.use_numexpr', False)
# pd.set_option('compute.use_pyarrow', True)
# pd.set_option('io.parquet.use_pyarrow', True)
pd.options.mode.dtype_backend = "pyarrow"

# Create a Pandas DataFrame with some example data
data = {
    'group': ['A', 'B', 'A', 'B', 'A', 'B'],
    'value': [1, 2, 3, 4, 5, 6]
}
df = pd.DataFrame(data)
# df = pd.DataFrame(data, dtype=["string[pyarrow]",])

# Define a function to apply to each group
def sum_values(group):
    return group['value'].sum()

# Use groupby-apply to apply the function to each group
result = df.groupby('group').apply(sum_values)

# Print the result
print(result)

group
A     9
B    12
dtype: int64
CPU times: user 1.22 ms, sys: 2.68 ms, total: 3.9 ms
Wall time: 4.71 ms

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   group   6 non-null      object
 1   value   6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [6]:
df_polars = pl.from_pandas(df)
df_polars

shape: (6, 2)
┌───────┬───────┐
│ group ┆ value │
│ ---   ┆ ---   │
│ str   ┆ i64   │
╞═══════╪═══════╡
│ A     ┆ 1     │
│ B     ┆ 2     │
│ A     ┆ 3     │
│ B     ┆ 4     │
│ A     ┆ 5     │
│ B     ┆ 6     │
└───────┴───────┘